@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');
*{
    margin:4px;
    padding:2px;
    box-sizing: border-box;
    max-width: 900px;
}
:root{
    --primary-color: #083d77;
    --secondary-color: #08A045;
    --accent1-color: #D6FFF6;
    --accent2-color: #FFCB47;

    --heading-font: 'Archivo Black', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #08a045;
    --nav-link-color: #d6fff6;
    --nav-hover-link-color: #083d77;
    --nav-vover-background-color: #ffcb47;
}
h1,h2{
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p{
    font-family: var(--paragraph-font);
    color: black;
}
.hero{
    position: relative;
}
.hero div{
    position: relative;
    background-color: var(--accent1-color);
    padding: 10px;
}
.hero img{
    display: block;
    width: 15%;
    float: right;
}
.hero h1, article{
    position: relative;
    top: 50%;
    width: 80%;
}
div img{
    display:block;
    width: 80px;
    height:auto
}
.nav{
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: var(--nav-background-color);

}
.nav a{
    display: block;
    color: var(--nav-link-color);
    padding: 40px;
}
.nav a:hover{
    color: var(--nav-vover-background-color);
    font-weight: 200;
}
.header{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: 1/2;
    border-bottom: 1px solid var(--primary-color);
}
.header img{
    width: 30%;
    height: 100%;
}
.history{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.section{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 10% 30%;
}
.section h2{
    display: flex;
    justify-content: center;
    margin: 10px;
    border-bottom: 1px solid;
}
.section img{
    width: 200px;
}
figure img{
    border:#08A045 solid;
    grid-row-start: 2;
}
figcaption{
    background-color: #FFCB47;
    text-align: center;
}
footer{
    display: flex;
}
.form{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    margin: 8px;
    text-align: center;
}
.form1{
    background-color: var(--accent1-color);
    border-radius: 10px;
    border: solid 2px var(--secondary-color);
    font-family: var(--paragraph-font);
    margin: 2px;
    text-align: center;
}
button{
    margin:5px;
    width: 200px;
    background-color: var(--accent2-color);
    color: black;
}
button:hover{
    color: whitesmoke;
    background-color: var(--accent2-color);
}
.section1{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 15% 30% 30%;
}
figure{
    font-family: "Roboto", sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}



